<% if Setting.plugin_redmine_trello_card_sync['api_secret'].present? %>
<h2>Trello Webhook Settings</h2>
<hr/>
<p>
  <label for="settings_webhooks_url">Trello Webhooks Endpoint URL</label>
  <input type="text" id="settings_webhooks_url" size=80 value="<%= @settings['webhooks_url'] %>" name="settings[webhooks_url]" />
  <br/>
  <%= t(:trello_card_sync_settings_webhooks_url_description_html) %>
</p>
<% end %>
