<h1>Trello Card Sync Settings</h1>
<hr/>
<p>
  <label for="settings_public_key">Trello API public key</label>
  <input type="text" id="settings_public_key" size=80 value="<%= settings['public_key'] %>" name="settings[public_key]" />
</p>
<p>
  <label for="settings_member_token">Trello API member token</label>
  <input type="text" id="settings_member_token" size=80 value="<%= settings['member_token'] %>" name="settings[member_token]" />
</p>
